<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.mainMapper">
  
	
	<select id="memberLogin" parameterType ="com.test.mapper.guest" resultType="com.test.mapper.guest">
		SELECT *
		FROM users
		WHERE user_id = #{user_id}
		AND user_gym = #{user_gym}
	</select>
	
	<select id="adminList" parameterType ="com.test.mapper.guest" resultType="com.test.mapper.guest">
		SELECT *
		FROM users
		WHERE manager_yn = 0
	</select>
	
	<insert  id="insertExName" parameterType ="com.test.mapper.exinfo" >
	    insert into user_exercises( user_id, ex_name, ex_kinds)
	    values (#{user_id},#{ex_name}, #{ex_kinds})
	</insert>
	
	<insert  id="insertJoin" parameterType ="com.test.mapper.guest" >
	    insert into users(user_id,user_phone, user_name,user_gym,user_expire_date,user_birthdate,manager_yn)
	    values (right(#{user_phone},4),#{user_phone},#{user_name},#{user_gym}, date_add(DATE_FORMAT(now(),'%Y-%m-%d'),INTERVAL #{user_expire_date} MONTH) ,#{user_birthdate},0)
	</insert>
	
	<select id ="infoCalender" parameterType ="com.test.mapper.accessController" resultType="com.test.mapper.accessController">
		select ex_day , TIMESTAMPDIFF(minute, ex_start_time , ex_end_time) as timediff
	    from access
	    where user_id = #{user_id}
	</select>
</mapper>